extends layout

block content
    link(rel='stylesheet',href='ceremony.css')
    .container
        .row
            .col-sm-12
                .jumbotron.jumbotron-fluid.jumbotron-custom.bg-transparent
                    .container.header-color.txt-center
                        h1.display-3 Our Ceremony
                        h4.display-4 The start of new love
        .row
            .col-sm-12.col-lg-5.txt-teal
                h1 A Special Day
                p
                    | On September 22, 2018. Frank and Amanda held a spical ceremony on the Rogue River in Gold Hill, Oregon at Tea Pot on Wheels.
                    | The day was filled with excitement, joy and love with friends and family from all around. Frank and Amanda felt honored and privlaged to
                    | have such a beautiful day in ceremony to share a lifetime of love and commitment with friends and family.
            
            .col-sm-12.col-lg-7
                img.img-fluid.img-center.img-border(src='https://firebasestorage.googleapis.com/v0/b/chappell4ever.appspot.com/o/Assets%2Fceremony%2FIMG_0895.jpg?alt=media&token=b661b1b6-ef83-49b8-a193-52582988b1b1', alt='MainCeremonyPicture')
        hr
            
            