extends layout

block content
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='photostyles.css')
    .container
        .row
            .col-sm-12.col-lg-2
            .col-sm-12.col-lg-8
                .jumbotron.jumbotron-fluid.jumbotron-custom.bg-transparent
                    .header-color.txt-center
                        h1.display-3 Meet The Family
                img.img-fluid.img-center.img-border-double.img-border-bronze(src='https://imageshack.com/i/pmJ1tM31j',alt="Family Picture")
            .col-sm-12.col-lg-2
        hr
        .row
            .col-sm-12.txt-center.header-color
                h3.display-2 View Family
                h6.display-4 Photos
        
        .columns.is-multiline
            .column.is-8
                .columns.is-multiline
                    .column.is-6
                        .photobox.photobox_style.img-border-groove.img-border-off-white

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='01', onmouseover='getLikes("01")')
                                img#gal1.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("01")',title='Like Photo')
                                        i#pic01.far.fa-heart

                    .column.is-6
                        .photobox.photobox_style.img-border-groove.img-border-off-white

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='02', onmouseover='getLikes("02")')
                                img#gal2.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("02")',title='Like Photo')
                                        i#pic02.far.fa-heart
                                        
                    .column.is-6
                        .photobox.photobox_style.img-border-groove.img-border-off-white

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='03', onmouseover='getLikes("03")')
                                img#gal3.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("03")',title='Like Photo')
                                        i#pic03.far.fa-heart
                    .column.is-6
                        .photobox.photobox_style.img-border-groove.img-border-off-white

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='04', onmouseover='getLikes("04")')
                                img#gal4.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("04")',title='Like Photo')
                                        i#pic04.far.fa-heart
            .column.is-4
                .photobox.photobox_style.img-border-groove.img-border-off-white

                    .photobox_previewbox
                        a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='05', onmouseover='getLikes("05")')
                        img#gal5.photobox_preview.img-fluid.img-center      
                        span.photobox_label
                            a(onclick='likePicture("05")',title='Like Photo')
                                i#pic05.far.fa-heart
                                
            .column.is-6
                h4.display-4.txt-center.header-color Meet The Bride's Family
                .photobox.photobox_style.img-border-groove.img-border-off-white

                    .photobox_previewbox
                        a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='06', onmouseover='getLikes("06")')
                        img#gal6.photobox_preview.img-fluid.img-center      
                        span.photobox_label
                            a(onclick='likePicture("06")',title='Like Photo')
                                i#pic06.far.fa-heart
            .column.is-6
                h4.display-4.txt-center.header-color Meet The Groom's Family
                .photobox.photobox_style.img-border-groove.img-border-off-white

                    .photobox_previewbox
                        a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='07', onmouseover='getLikes("07")')
                        img#gal7.photobox_preview.img-fluid.img-center      
                        span.photobox_label
                            a(onclick='likePicture("07")',title='Like Photo')
                                i#pic07.far.fa-heart
                
        
                                
    #picturePopupModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
            .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                .modal-content.bg-transparent(style='box-shadow: none')
                    .modal-body
                        img#modalimg.img-fluid.img-center
                    .modal-footer
                        .row
                            .col.social-icons
                                a#popupFacebook(href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fchappell4ever.firebaseapp.com%2F&amp;src=sdkpreparse')
                                    i.fab.fa-facebook-square.fa-1x


                                a#popupGooglePlus(href="https://plus.google.com/share?url=https%3A//chappell4ever.firebaseapp.com/", title="Goolge+")
                                    i.fab.fa-google-plus-g.fa-1x


                                a.popupTwitter(href='https://twitter.com/share?text=Chappell4ever%20--%20View%20ceremony%20pictures&ref_src=twsrc%5Etfw', data-show-count='false')
                                    i.fab.fa-twitter.fa-1x



                            .col.heart-likes
                                a(onclick='test(this)',title='Like Photo')
                                    i#modalLike.far.fa-heart

        script(src='family.js')