extends layout

block content
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='photostyles.css')
    .container
        .row
            .col-sm-12.col-lg-2
            .col-sm-12.col-lg-8
                .jumbotron.jumbotron-fluid.jumbotron-custom.bg-transparent
                    .header-color.txt-center
                        h1.display-3 Meet The Family
                img.img-fluid.img-center.img-border-double.img-border-bronze(src='https://imageshack.com/i/pmJ1tM31j',alt="Family Picture")
            .col-sm-12.col-lg-2
        hr
        .row
            