extends layout

block content
    link(rel='stylesheet',href='home.css')
    .container
        
        .row
            .col-sm-12
                .jumbotron.jumbotron-fluid.jumbotron-home.bg-transparent
                    .container.header-color.txt-center
                        h1.display-3 Mr. &amp Mrs. Chappell
                        img.img-fluid.img-center.img-size-1.img-border(src="https://firebasestorage.googleapis.com/v0/b/chappell4ever.appspot.com/o/Assets%2Fhomepage%2FIMG_0532.jpg?alt=media&token=6822d141-581e-4bf8-9baa-4697e423053c",alt="Home Picture")
        hr
        h2.txt-light.txt-center.display-3 View Our Wedding
        .row
            .col-sm-12.col-md-6
                .photobox.photobox_style
                    a(href='/ceremony')
                        .photobox_previewbox
                            img.photobox_preview.img-fluid.img-center(src="https://imageshack.com/i/po6B3sJJj")
                            span.photobox_label Ceremony
                                          
            .col-sm-12.col-md-6
                .photobox.photobox_style
                    a(href="/brideandgroom")
                        .photobox_previewbox
                            img.photobox_preview.img-fluid.img-center(src="https://imageshack.com/i/pnXBnukkj",alt="Bride & Groom")
                            span.photobox_label Bride & Groom
                            
        .row
            .col-sm-12.col-md-6
                .photobox.photobox_style
                    a(href="/weddingparty")
                        .photobox_previewbox
                            img.photobox_preview.img-fluid.img-center(src="https://imageshack.com/i/poerU2ZDj",alt="Wedding Party")
                            span.photobox_label Wedding Party
            .col-sm-12.col-md-6
                .photobox.photobox_style
                    a(href="/groomsmen")
                        .photobox_previewbox
                            img.photobox_preview.img-fluid.img-center(src="https://firebasestorage.googleapis.com/v0/b/chappell4ever.appspot.com/o/Assets%2Fhomepage%2FIMG_0690.jpg?alt=media&token=7773de19-fe01-4420-b0fa-7934c58941d7",alt="groomsmen")
                            span.photobox_label The Groomsmen
        .row
            .col-sm-12.col-md-6
                .photobox.photobox_style
                    a(href="/the-suprise")
                        .photobox_previewbox
                            img.photobox_preview.img-fluid.img-center(src="https://imageshack.com/i/pl4rY9OSj",alt="Foxy")
                            span.photobox_label The Suprise
            .col-sm-12.col-md-6
                .photobox.photobox_style
                    a(href="/meet-the-family")
                        .photobox_previewbox
                            img.photobox_preview.img-fluid.img-center(src="https://imageshack.com/i/pm4qDbyIj",alt="Wedding Party")
                            span.photobox_label The Family
                            
    #home.home-footer.home-footer-container
        hr
        .row
            
            .col-sm-12.col-lg-1        
            .col-sm-12.col-lg-11
                .container
                    .row
                        .col-sm-12
                            blockquote.quote-card
                                p 
                                    | Legends say that hummingbirds float free of time, carrying our hopes for love, joy and celebration. 
                                    | The hummingbird's delicate grace reminds us that life is rich, beauty is eveyrwhere, every presonal
                                    | connection has meaning and that laughter is life's sweetest creation.
                    .row
                        .col-sm-12.citation.txt-teal
                            cite Anonymous
                            