extends layout

block content
    link(rel='stylesheet',href='ourstory.css')
    .container
        .row
            .col-sm-12
                .jumbotron.jumbotron-fluid.jumbotron-custom.bg-transparent
                    .container.header-color.txt-center
                        h1.display-3 Our Story
                        p Where love begain
        .row
            .col-sm-12.col-lg-4
                img.img-fluid.img-center(src='https://firebasestorage.googleapis.com/v0/b/nodemoduletest.appspot.com/o/Assets%2FOurStoryPic.jpg?alt=media&token=7bc1a714-aea7-4cac-a760-455b86540ff8',alt='OurStoryPicture')
            .col-sm-12.col-lg-2
            .col-sm-12.col-lg-6.header-color
                h2.txt-center Where we first met
                p
                    | In 2011, both Amanda and Frank were enrolled at Rogue Community College. Frank first laid eyes on Amanda when he walked into the classroom and instantly thought, 
                    | what is this cute girl doing in a computer class. Eventually, Frank made the first move by approaching Amanda asking her how she was doing with homework in the class. 
                    | From that, a friendship was forged and in time, a love for one another began to blossom.
        hr