extends layout

block content
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
    link(rel='stylesheet', href='main.css')
    link(rel='stylesheet', href='photostyles.css')
    .container
        .row
            .col-sm-12
                .jumbotron.jumbotron-fluid.jumbtron-custom.bg-transparent
                    .container.header-color.txt-center
                        h1.display-3 The Big Suprise
                        h4.display-4 Unreveled
        .row.row-1
            .col-sm-12.col-lg-5
                .content.is-large
                    h1.desktop.header-color Meet Foxy
                    p#foxy-intro.header-color
                        | When Amanda was a young girl competing in barrel racing, she met Foxy. It wasn't too long after meeting Foxy that she came
                        | to live with Amanda and the both eventually became best friends. After school and on the weekends, Amanda and Foxy would always be seen side to side. 
                        | The two were inseparable. And what better way to make the bride happy by surprising her with her best friend at the wedding?
            .col-sm-12.col-lg-7
                h1#foxy.mobile.header-color.txt-center Meet Foxy
                img.img-fluid.img-center.img-border-double.img-border-bronze(src='https://imageshack.com/i/pmyyswy7j')
        hr
        .row
            .col-sm-12.txt-center.header-color
                h3.display-2 Like Your Favorite
                h6.display-4 Photos Of The Big Suprise
        
        .columns.is-multiline
            .column.is-4
                .photobox.photobox_style.img-border-groove.img-border-bronze

                    .photobox_previewbox
                        a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='01', onmouseover='getLikes("01")')
                        img#gal1.photobox_preview.img-fluid.img-center      
                        span.photobox_label
                            a(onclick='likePicture("01")',title='Like Photo')
                                i#pic01.far.fa-heart

            .column.is-4
                .photobox.photobox_style.img-border-outset.img-border-teal

                    .photobox_previewbox
                        a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='02', onmouseover='getLikes("02")')
                        img#gal2.photobox_preview.img-fluid.img-center      
                        span.photobox_label
                            a(onclick='likePicture("02")',title='Like Photo')
                                i#pic02.far.fa-heart
            .column.is-4
                .photobox.photobox_style.img-border-groove.img-border-silver

                    .photobox_previewbox
                        a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='03', onmouseover='getLikes("03")')
                        img#gal3.photobox_preview.img-fluid.img-center      
                        span.photobox_label
                            a(onclick='likePicture("03")',title='Like Photo')
                                i#pic03.far.fa-heart
            .column.is-5
                .columns.is-multiline
                    .column.is-6
                        .photobox.photobox_style.img-border-double.img-border-teal

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='04', onmouseover='getLikes("04")')
                                img#gal4.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("04")',title='Like Photo')
                                        i#pic04.far.fa-heart
                    .column.is-6
                        .photobox.photobox_style.img-border-outset-reverse.img-border-bronze

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='05', onmouseover='getLikes("05")')
                                img#gal5.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("05")',title='Like Photo')
                                        i#pic05.far.fa-heart
                    .column.is-6
                        .photobox.photobox_style.img-border-groove.img-border-silver

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='06', onmouseover='getLikes("06")')
                                img#gal6.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("06")',title='Like Photo')
                                        i#pic06.far.fa-heart
                    .column.is-6
                        .photobox.photobox_style.img-border-outset.img-border-teal

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='07', onmouseover='getLikes("07")')
                                img#gal7.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("07")',title='Like Photo')
                                        i#pic07.far.fa-heart
            .column.is-1
            
            .column.is-5
                .photobox.photobox_style.img-border-groove.img-border-silver

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='08', onmouseover='getLikes("08")')
                                img#gal8.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("08")',title='Like Photo')
                                        i#pic08.far.fa-heart
            .column.is-4
                .columns.is-multiline
                    .column.is-12
                        .photobox.photobox_style.img-border-outset-reverse.img-border-silver

                                    .photobox_previewbox
                                        a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='09', onmouseover='getLikes("09")')
                                        img#gal9.photobox_preview.img-fluid.img-center      
                                        span.photobox_label
                                            a(onclick='likePicture("09")',title='Like Photo')
                                                i#pic09.far.fa-heart
                    .column.is-12
                        .photobox.photobox_style.img-border-inset.img-border-off-white

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='10', onmouseover='getLikes("10")')
                                img#gal10.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("10")',title='Like Photo')
                                        i#pic10.far.fa-heart
            .column.is-4
                .photobox.photobox_style.img-border-groove.img-border-bronze

                    .photobox_previewbox
                        a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='11', onmouseover='getLikes("11")')
                        img#gal11.photobox_preview.img-fluid.img-center      
                        span.photobox_label
                            a(onclick='likePicture("11")',title='Like Photo')
                                i#pic11.far.fa-heart
            .column.is-4
                .columns.is-multiline
                    .column.is-12
                        .photobox.photobox_style.img-border-double.img-border-off-white

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='12', onmouseover='getLikes("12")')
                                img#gal12.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("12")',title='Like Photo')
                                        i#pic12.far.fa-heart
                    .column.is-12
                        .photobox.photobox_style.img-border-groove.img-border-teal

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='13', onmouseover='getLikes("13")')
                                img#gal13.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("13")',title='Like Photo')
                                        i#pic13.far.fa-heart
            .column.is-4
                .photobox.photobox_style.img-border-double.img-border-bronze

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='14', onmouseover='getLikes("14")')
                                img#gal14.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("14")',title='Like Photo')
                                        i#pic14.far.fa-heart
            .column.is-4
                .photobox.photobox_style.img-border-double.img-border-bronze

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='15', onmouseover='getLikes("15")')
                                img#gal15.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("15")',title='Like Photo')
                                        i#pic15.far.fa-heart
            .column.is-4
                .photobox.photobox_style.img-border-double.img-border-bronze

                            .photobox_previewbox
                                a.overlay(data-toggle='modal', data-target="#picturePopupModal", data-whatever='16', onmouseover='getLikes("16")')
                                img#gal16.photobox_preview.img-fluid.img-center      
                                span.photobox_label
                                    a(onclick='likePicture("16")',title='Like Photo')
                                        i#pic16.far.fa-heart
        hr
        .row.row-1(style="margin-bottom: 20px;")
            .col-sm-12.col-lg-5
                .content.is-large
                    h1.desktop.header-color A Special Thank You
                    p#foxy-thanks.header-color
                        | Thanks to a wonderful woman Kristy, Amanda's day was filled with excitement and happiness.
                        | A few years ago, Kristy bought Foxy from Amanda and gave Foxy a warm and comforting new home. 
                        | Over the years, Kristy would keep Amanda updated with Foxy. It was clear that Amanda holds a great love for Foxy and Frank knew this.
                        | Which is why he reached out to Kristy for her help to make Amanda's big day even more special.
            .col-sm-12.col-lg-6
                h1#foxy.mobile.header-color.txt-center(style="border-style: none;") A Special Thank You
                img.img-fluid.img-center.img-border-double.img-border-bronze(src='https://imageshack.com/i/pm40b5vYj', alt="Foxy with Kristy")
    #picturePopupModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content.bg-transparent(style='box-shadow: none')
                .modal-body
                    img#modalimg.img-fluid.img-center
                .modal-footer
                    .row
                        .col.social-icons
                            a#popupFacebook(href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fchappell4ever.firebaseapp.com%2F&amp;src=sdkpreparse')
                                i.fab.fa-facebook-square.fa-1x


                            a#popupGooglePlus(href="https://plus.google.com/share?url=https%3A//chappell4ever.firebaseapp.com/", title="Goolge+")
                                i.fab.fa-google-plus-g.fa-1x

                               
                            a.popupTwitter(href='https://twitter.com/share?text=Chappell4ever%20--%20View%20ceremony%20pictures&ref_src=twsrc%5Etfw', data-show-count='false')
                                i.fab.fa-twitter.fa-1x
                            
                               
                                
                        .col.heart-likes
                            a(onclick='test(this)',title='Like Photo')
                                i#modalLike.far.fa-heart
    script(src='thesuprise.js')
